<!-- index.hbs -->
<h1>The server is running!</h1>
<p>If you see this text, the server is <strong>definitely</strong> working!</p>


<table id="CustomersTable" border="1" cellpadding="5">
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    <tbody>
        {{#each data}}
        <tr>
            <td>{{this.cust_ID}}</td>
            <td>{{this.cust_first_name}}</td>
            <td>{{this.cust_last_name}}</td>
            <td>{{this.cust_email}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<h2>Search Using an HTML Form</h2>
<p>Search by last name using the field below. Partial last names are OK too!</p>
<form id="search-customer-html" method='GET' action='/'>
    <label for="input-lname">Search by Last Name: </label>
    <input type="text" name="lname" id="input-lname-html-search">

    <input type="submit">
    <a href='/'><button>Reset</button></a>
</form>


{{!--Create form to add data--}}
<h2>Add Customer via AJAX</h2>
<p>Add new customers by entering their information below and then clcik Submit</p>
<form id="addCustomer-AJAX-form">
    <legend><strong>Add Customer</strong></legend>
        <fieldset class="fields">
        <label for="input-fname"> First Name: </label> <input type="text" name="input-fname" id="input-fname" >
        <label for="input-lname"> Last Name: </label> <input type="text" name="input-lname" id="input-lname">
        <label for="input-email"> Email: </label> <input type="text" name="input-email" id="input-email">
    </fieldset>
        <input type="submit">
	</form>
<script src="./js/add_customer.js"></script>